/* =====================================
   Page Styles
======================================== */

body, html {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  line-height: 1.8;
  margin: 0;
  height: 100%;
  background-color: #f4f4f4;
}

a {
  cursor: pointer;
}

footer {
  background-color: #000;
}

main {
  margin-bottom: 180px;
  margin-top: 100px;
}

/* =====================================
   Header
======================================== */

.front-page {
  max-width: 1122px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-align: left;
}

.wrap {
  font-family: 'Fredericka the Great', cursive;
  font-size: 1.3em;
  color: #000;
}

.explain p {
  font-family: 'Cabin Sketch', cursive;
  color: #000;
  font-size: 1.1em;
  margin-top: 2em;
  margin-bottom: 3em;
  padding-right: 3em;

}

.explain a {
  color: #36a566;
}

.btn-dark {
  background-color: transparent;
  color: #000;
  font-family: 'Cabin Sketch', cursive;
  font-size: 1.2em;
  padding: 0.5em;
}

/* =====================================
   Navigation
======================================== */

.navbar-brand {
  font-size: 2.2em;
}

.nav-link {
  font-size: 1.2em;
  font-family: 'Cabin Sketch', cursive;
}

.rainbow {
   /* Font options */
  font-family: 'Cabin Sketch', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 3s infinite;

  /* Internet Explorer */
  -ms-animation: rainbow 3s infinite;

  /* Standar Syntax */
  animation: rainbow 3s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
  0%{color: orange;}
  10%{color: purple;}
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}
}

/* Internet Explorer */
@-ms-keyframes rainbow{
  0%{color: orange;}
  10%{color: purple;}
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
  0%{color: orange;}
  10%{color: purple;}
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}
}

/* =====================================
   Main Content
======================================== */

.pimg1, .pimg2 {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}

.pimg1 {
  background-image: url('../images/mountain.jpeg');
  min-height: 100%;
}

.pimg2 {
  background-image: url('../images/toronto.jpg');
  min-height: 70%;
}

.ptext {
  position:absolute;
  top: 15%;
  width: 100%;
  text-align: center;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light{
  background-color: #f4f4f4;
  color: #666;
  /* text-align: left; */
}

.section-dark{
  background-color: #282e34;
  color: #ddd;
  padding: 6em 0;
}

.section p {
  max-width: 768px;
  margin: auto;
  text-align: left;
}

#contact img {
  transition: transform .7s;
  width: 40px;
  height: 40px;
}

#contact img:hover {
  transform: scale(1.3, 1.3);
}

.hover-skills {
  position: relative;
}

.project-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

ul.skills {
  transition: .5s ease-in;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  padding: 0;
}

.hover-skills:hover .project-img {
  opacity: 0.4;
}

.hover-skills:hover .skills {
  opacity: 1;
}

.skills li {
  border-radius: 6px;
  display: block;
  background: #28a745;
  color: white;
  padding: 5px 10px;
  margin: 5px;
}

.skills li:nth-child(odd) {
  background: #000;
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: #000;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.contact-me strong {
  font-family: 'Cabin Sketch', cursive;
  font-size: 1.2em;
  color: #fff;
}


/* =====================================
   Media Queries
======================================== */

@media (max-width:568px) {
  .pimg1, .pimg2, .pimg3 {
    background-attachment: scroll;
  }
}

@media (min-width: 768px) {

  /* =====================================
     Header
  ======================================== */

  .wrap {
    font-size: 1.8em;
  }

  .name {
    font-size: 2em;
  }

  /* =====================================
     Header
  ======================================== */

  .navbar-brand {
    font-size: 2.5em;
    padding-left: 0.5em;
  }

  .explain {
    font-size: 1.2em;
    margin-right: 10em;
  }

  /* =====================================
     Main Content
  ======================================== */

  .section p {
    font-size: 1.2em;
  }

  .contact-me p {
    font-size: 1.3em;
  }
}

@media (min-width: 1024px) {
  /* =====================================
     Header
  ======================================== */

  .nav-link {
    margin-right: 1.5em;
  }

  .front-page {
    padding-left: 8em;
  }

  .wrap {
    font-size: 2em;
  }

  .explain {
    margin-right: 16em;
  }

  #contact img {
    width: 50px;
    height: 50px;
  }

  .section p {
    font-size: 1.4em;
  }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1200px) {
  .ptext{
    left: 10%;
  }

  .navbar-brand {
    font-size: 3em;
  }

  .nav-link {
    font-size: 1.5em;
    font-family: 'Cabin Sketch', cursive;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1800px) {
  .ptext{
    left: 20%;
  }

  .section-dark{
    padding: 8em 0;
  }
}
